.navbar {
  background: linear-gradient(0deg,#1b262c,#303841);
}

.masthead {
  background: #1e56a0 !important;
}

#about {
  background: #1e56a0 !important;
}

.footer {
  background: linear-gradient(0deg,#1b262c,#303841);
}

.copyright {
  background: #1e2022;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #00eaff !important;
}

#mainNav .navbar-toggler {
  background: #1e56a0 !important;
}

#mainNav .navbar-toggler:hover {
  background: #005792 !important;
}

hr {
  width: 15rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-uppercase.text-center.text-secondary {
  color: #1b262c !important;
}

.white {
  border: solid 2px #fff;
}

.dark {
  border: solid 2px #1b262c;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    background: #1e56a0;
  }
}

@media (min-width: 992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    background: #1e56a0;
    color: #fff !important;
  }
}

#sendMessageButton {
  background: #1e56a0 !important;
  border-color: #1e56a0 !important;
  transition: .5s;
  padding-top: 12px;
  padding-bottom: 12px;
}

#sendMessageButton:hover {
  border-color: #303841 !important;
  background: #303841 !important;
  transform: scale(1.1);
}

.floating-label-form-group-with-focus label {
  color: #1e56a0;
}

.titulo {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.imagen {
  max-width: 256px;
  border-radius: 140px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  transition: all .5s ease;
  opacity: 0;
  background-color: rgba(30, 86, 160 ,.9);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Lemonada' !important;
}

.lead {
  font-family: 'Caveat';
  font-size: 1.9rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  font-family: 'Lemonada';
}

#mainNav .navbar-brand {
  font-family: 'Revans Medium';
  font-size: 2.5rem;
}

.close {
  color: #1e56a0;
}

.close:hover {
  color: #ff2e63 !important;
}

.text-uppercase.text-secondary.mb-0 {
  color: #1b262c !important;
}

.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss {
  background: #1E56A0;
  border-color: #1e56a0;
}

.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss:hover {
  background: #ff2e63;
  border-color: #ff2e63;
}

.second-p {
  margin-top: -30px;
}

.link {
  color: #1e56a0;
}

.link:hover {
  color: #005792;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  background: #1e56a0 !important;
}

a:active, a:focus, a:hover {
  color: #1e56a0;
}

.btn.descarga-cv {
  border: solid 3px #fff;
  color: white;
  cursor: pointer;
  padding: 13px;
  font-weight: 502;
  transition: .5s;
}

.btn.descarga-cv:hover {
  border: solid 3px #fff;
  color: #1b262c;
  cursor: pointer;
  padding: 13px;
  font-weight: 502;
  background: white;
  transform: scale(1.1);
}

.btn.descarga-cv:hover .fa.fa-download {
  color: #1b262c;
}

.fa.fa-download {
  margin-left: 10px;
}

